
Transfer_Learning/Low_Resource_Text_Classification/embedding/glove.6B.200d.txt
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212229.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212225.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212224.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212219.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212214.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212209.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212154.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212151.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212148.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212139.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212138.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212135.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212134.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212122.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212119.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212039.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212036.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212032.log
Transfer_Learning/Low_Resource_Text_Classification/config.py
Transfer_Learning/Low_Resource_Text_Classification/__pycache__/config.cpython-35.pyc
Transfer_Learning/Low_Resource_Text_Classification/result/confusion_matrix_norm_with_emb_pretrain.jpg
Transfer_Learning/Low_Resource_Text_Classification/result/confusion_matrix_norm_with_emb.jpg
Transfer_Learning/Low_Resource_Text_Classification/result/confusion_matrix_freq_with_emb_pretrain.jpg
Transfer_Learning/Low_Resource_Text_Classification/result/confusion_matrix_freq_with_emb.jpg
Transfer_Learning/Low_Resource_Text_Classification/model/pretrain/model.ckpt-5.meta
Transfer_Learning/Low_Resource_Text_Classification/model/pretrain/model.ckpt-5.index
Transfer_Learning/Low_Resource_Text_Classification/model/pretrain/model.ckpt-5.data-00000-of-00001
Transfer_Learning/Low_Resource_Text_Classification/model/pretrain/graph.pbtxt
Transfer_Learning/Low_Resource_Text_Classification/model/pretrain/events.out.tfevents.1532210604.DESKTOP-E6S0D8K
Transfer_Learning/Low_Resource_Text_Classification/model/pretrain/checkpoint
Transfer_Learning/Low_Resource_Text_Classification/main.py
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212302.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212249.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212235.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212231.log
Transfer_Learning/Low_Resource_Text_Classification/logs/201807212230.log
